.threads {
    width: 50%;
    margin: auto;
    position: relative;
}

.reply {
    position: absolute;
    width: 90%;
    right: 0;
}

footer {
    color: gray;
    padding: 10px;
    width: 100%;
    text-align: right;
    right: 0;
}

header {
    color: gray;
    background-color: lightgray;
    text-align: center;
    font-size: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;

}

.account-overlay {
    opacity: 50%;
    background-color: blue;
    position: absolute;
    right: 0;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.profile-icon {
    float: right;
    right: 1vw;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 1;
}